<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content">
		<div>感谢您对生而不庸的支持，希望每一天的您都比昨日的您优秀！</div>
		<br>
		<div>这是一封自动产生的邮件，请勿尝试回复。</div>
	</div>
	<div th:fragment="surprise">
		<div>
			来听一听 <a href="https://music.163.com/song?id=1335942780&userid=62734100">《九万字》 - 黄师扶</a> 吧。
			歌曲《九万字》背后的故事，其实取材自叶三创作的散文《九万字》的故事，“当坊间最善舞的女儿死了，京城就该有一场大雪。”主要讲述李一白和女刺客的一段凄美爱情故事。
		</div>
		<br>
		<div>
			烟草严重危害人民健康。根据世界卫生组织报告，每3个吸烟者中就有1个死于吸烟相关疾病，吸烟者的平均寿命比非吸烟者缩短10年。- <a href="http://www.nhc.gov.cn/wsxf/zcfg/201907/2a771d89e00e4b228028335d4fcf1a7d.shtml">中国卫健 - 健康中国在行动</a></div>
	</div>
	<div th:fragment="copy">&copy; 2019 生而不庸</div>
</body>

</html>